body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f9f9f9;
}

header {
  background: #0a1f44;
  color: white;
  padding: 30px 20px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px 20px;
}

footer {
  background: #111;
  color: white;
  padding: 15px;
}
